.sidebar {
  height: 100vh;
}

.icon-margin {
  margin-top: 6px;
}

.link-active {
  background-color: var(--gray-link-active);
}

.link-inactive {
  color: var(--text-white-color);
}

.sidebar-item:hover {
  background-color: var(--gray-link-active);
}
