@import "https://dreamui-demo.netlify.app/dreamui-v1.css";
@import "https://dreamui-v2.netlify.app/dreamui-v1.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "./components/Navbar/Navbar.css";
@import "./components/Sidebar/Sidebar.css";
@import "./components/Login/Login.css";
@import "./components/Home/Home.css";
@import "./components/SingleVideo/SingleVideo.css";
@import "react-toastify/dist/ReactToastify.css";
:root {
  --black-light-shade: #212121;
  --black-dark-background: #181818;
  --red-yt-color: #ff0000;
  --blue-yt-action: #3da0f5;
  --gray-text: #f1e5e5a6;
  --gray-link-active: #4c4c4c;
  --gray-chip: #3a3838;
  --transparent-black: #29211c;
}

body {
  background-color: var(--black-dark-background);
  font-family: "Roboto", sans-serif;
}

.App {
  position: relative;
}
.red-yt-color {
  color: var(--red-yt-color);
}

.black-light-shade-bg {
  background-color: var(--black-light-shade);
}
.black-dark-bg {
  background-color: var(--black-dark-background);
}

.pos-relative {
  position: relative;
}

.blue-yt-text {
  color: var(--blue-yt-action);
}

.cursor-pointer {
  cursor: pointer;
}

.gray-text {
  color: var(--gray-text);
}

.border-none {
  border: none;
}

input:focus {
  outline: none;
}

.border-radius {
  border-radius: 5px;
}

.d-grid-sidebar {
  display: grid;
  grid-template-columns: 1fr 5.5fr;
  grid-column-gap: 10px;
}

.d-grid-sidebar-mini {
  display: grid;
  grid-template-columns: 0.5fr 7.5fr;
  grid-column-gap: 10px;
}

.word-wrap {
  word-wrap: break-word;
}

.overflow-y {
  overflow-y: auto;
  height: 100vh;
}

.video-chips-container {
  margin-top: 4.5rem;
  margin-left: 10rem;
}

.link-active-bg {
  background-color: var(--gray-link-active);
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
